@using EntityLayer.Concrete
@model List<ActivityPoints>


<section id="lastactivties" class="userlist">

    <h2>Son 5 aktivlik balı</h2>

    <ul class="users">
        @foreach (var item in Model)
        {
            <li class="user">
                <div class="main-datas">
                    <div class="picname">
                        <img src="@item.User.UserImage" alt="">
                        <div class="details">
                            @{
                                string modelRole = item.User.Role;
                                string role = "";
                                if (modelRole == "President") { role = "Təşkilat üzrə Sədr"; }
                                else if (modelRole == "Vice-President") { role = "Təşkilat üzrə Sədr müavini"; }
                                else if (modelRole == "Chairman") { role = "Fakültə üzrə Sədr"; }
                                else if (modelRole == "Vice-Chairman") { role = "Sədr müavini"; }
                                else if (modelRole == "Staff") { role = "Heyət üzvü"; }
                                else if (modelRole == "Leader") { role = "Departament üzrə Rəhbər"; }
                                else if (modelRole == "Vice-Chairman") { role = "Fakültə üzrə Sədr müavini"; }
                                else if (modelRole == "Vice-Leader") { role = "Departament üzrə Rəhbər müavini"; }
                                else if (modelRole == "HR") { role = "İnsan Resursları"; }
                                else if (modelRole == "PR") { role = "İctimaiyyətlə əlaqələr"; }
                                else if (modelRole == "IT") { role = "İnformasiya Texnologiyaları"; }
                                else if (modelRole == "SMM") { role = "SMM"; }
                                else if (modelRole == "PM") { role = "Layihə Meneceri"; }
                                else if (modelRole == "CW") { role = "Copywriter"; }
                                else if (modelRole == "WWM") { role = "Üzvlərlə iş"; }
                                else if (modelRole == "Photograph") { role = "Fotoqraf"; }
                                else if (modelRole == "Photograph/Videograph") { role = "Fotoqraf/Videoqraf"; }
                                else if (modelRole == "Coordinator") { role = "Koordinator"; }
                                else if (modelRole == "Security") { role = "Nəzarət və Təftiş"; }
                                else if (modelRole == "GDesigner") { role = "Qrafik dizayner"; }
                                else if (modelRole == "Secretary") { role = "Katib"; }
                                else if (modelRole == "Advisor") { role = "Müşavir"; }
                            }
                            <p class="username">@item.User.Name @item.User.Surname</p>
                            @if (role != "")
                            {
                                <p class="department">@role</p>
                            }
                            else
                            {
                                <p class="department">@item.User.Role</p>
                            }
                        </div>
                    </div>
                    @if (item.Point > 0)
                    {
                        <p class="change increase">+@item.Point bal</p>
                    }
                    else
                    {
                        <p class="change decrase">@item.Point bal</p>
                    }
                    <p class="date change">@item.Date.ToString("dd MMM")</p>
                    <p class="point">@item.User.ActivityPoint bal</p>
                </div>
            </li>
        }
    </ul>
    <a href="/Admin/ActivityPoints" class="action-button primary">Tam bax</a>
</section>
