@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Style/AdminPanel/Settings123.css" rel="stylesheet" />

<div class="d-flex content">
    <div class="d-flex flex-column">
        <section id="user-card">
            <div class="d-flex flex-row w-100">
                <img src="@Model.UserImage" alt="">
                <div class="d-flex flex-column user-datas">
                    <div class="d-flex flex-column">
                        <p class="name">@Model.Name @Model.Surname</p>
                        @{
                            string faculty = "";
                            if (Model.Faculty == "Digital Economy") { faculty = "Rəqəmsal İqtisadiyyat fakültəsi"; }
                            else if (Model.Faculty == "Russian Economy") { faculty = "Rus İqtisad Məktəbi"; }
                            else if (Model.Faculty == "Business") { faculty = "Biznes və Menecement"; }
                            else if (Model.Faculty == "Sabah") { faculty = "SABAH mərkəzi"; }
                            else if (Model.Faculty == "ISE") { faculty = "Beynəlxalq İqtisadiyyat Məktəbi"; }
                            else if (Model.Faculty == "Design") { faculty = "UNEC Dizayn Məktəbi"; }
                            else if (Model.Faculty == "Finance") { faculty = "Maliyyə və Mühasibat fəkültəsi"; }
                            else if (Model.Faculty == "TUDIFAK") { faculty = "Türk Dünyası İqtisad fəkültəsi"; }
                            else if (Model.Faculty == "Engineering") { faculty = "Mühəndislik fakültəsi"; }
                            else if (Model.Faculty == "Economy") { faculty = "İqtisadiyyat və İdarəetmə fakültəsi"; }
                            else if (Model.Faculty == "QETM") { faculty = "Qiyabi və Əlavə Təhsil Mərkəzi"; }
                        }
                        <p class="faculty">@faculty</p>
                    </div>
                    <div class="d-flex flex-column">
                        <button id="btnchangeimage" class="action-button primary-hover">Şəkili dəyiş</button>
                    </div>
                </div>

                <div id="change-image" class="pop-up">
                    <section id="image-validation">
                        <h4>Şəkili dəyiş</h4>
                        <label for="ProfilePhoto" class="action-button primary-hover">Şəkil seç</label>
                        <input id="ProfilePhoto" type="file" accept="image/*">
                        <p id="imageerror"></p>
                        <button class="action-button primary-hover w-100">Təsdiqlə</button>
                    </section>
                </div>
            </div>
        </section>
    </div>
    <div class="d-flex flex-column">
        <section id="new-password">
            <div class="d-flex flex-column">
                <h4>Elektron ünvan</h4>
                <p class="email">@Model.EMail</p>
                <h4>Şifrə</h4>
                <h5>&bull;&bull;&bull;&bull;&bull;&bull;&bull;</h5>
                <button id="btnchangepassword" class="action-button primary-hover">Şifrəni dəyiş</button>

                <div id="change-password" class="pop-up">
                    <section id="password-validation">
                        <h4>Şifrəni dəyiş</h4>
                        <input type="hidden" value="1">
                        <div class="d-flex flex-column">
                            <input class="daisy" id="oldpass" type="password" placeholder="Köhnə şifrə">
                        </div>
                        <div class="d-flex flex-column">
                            <input class="daisy" id="newpass" type="password" placeholder="Yeni şifrə">
                        </div>
                        <div class="d-flex flex-column">
                            <input class="daisy" id="newpass2" type="password" placeholder="Yeni şifrə">
                        </div>
                        <button class="action-button primary-hover w-100">Təsdiqlə</button>
                        <p id="passerror" class="error"></p>
                    </section>
                </div>

            </div>
        </section>
    </div>
</div>


<script>
    let imgpopupopen = false;
    const imgpopup = document.getElementById('image-validation');
    $("#btnchangeimage").click(function () {
        $("#change-image").css("display", "flex");
        setTimeout(() => { imgpopupopen = true; }, 200);
    });

    $("#ProfilePhoto").change(function () {
        const errormessage = $("p#imageerror");
        const reader = new FileReader();
        const input = this.files[0];
        if (input.size > 2097152) {
            errormessage.text("*Faylın ölçüsü 2MB-dan çox ola bilməz");
            errormessage.removeClass("success");
            errormessage.addClass("error");
            return;
        }
        reader.readAsDataURL(input);
        reader.onload = function (e) {
            const image = new Image();
            image.src = e.target.result;

            image.onload = function () {
                const width = this.width;
                const height = this.height;

                if (width === height) {
                    errormessage.text(input.name);
                    errormessage.removeClass("error");
                    errormessage.addClass("success");
                    return;
                } else {
                    errormessage.text("*Şəklin ölçüləri 1:1 nisbətində olmalıdır");
                    errormessage.removeClass("success");
                    errormessage.addClass("error");
                    return;
                }
            };
        }
    });

    let passpopupopen = false;
    const passpopup = document.getElementById('password-validation');

    $("#image-validation button").click(function () {
        const errormessage = $("p#imageerror");
        if (errormessage.hasClass("success")) {
            $("#change-image").css("display", "none");
            setTimeout(() => { imgpopupopen = false; }, 200);

            var formData = new FormData();
            var fileInput = document.getElementById('ProfilePhoto');

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Admin/UpdateImage/', true);

            formData.append('imageFile', fileInput.files[0]);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log(xhr.responseText);
                    if (xhr.responseText === "Success") {
                        alert("Şəkliniz uğurla yükləndi.")
                    }
                }
            };

            xhr.send(formData);
        }
    });
    $("#btnchangepassword").click(function () {
        $("#change-password").css("display", "flex");
        setTimeout(() => { passpopupopen = true; }, 200);
    });

    $("#password-validation button").click(function () {
        const oldpass = $("#oldpass").val();
        const pass1 = $("#newpass").val();
        const pass2 = $("#newpass2").val();
        const error = $("#passerror");
        if (oldpass === "") {
            error.text("*Köhnə şifrəni yazın.");
            error.removeClass("success");
            error.addClass("error");
            return;
        }
        if (pass1 === "" || pass2 === "") {
            error.text("*Şifrələr boş qalmamalıdır.");
            error.removeClass("success");
            error.addClass("error");
            return;
        }
        if (pass1 !== pass2) {
            error.text("*Daxil edilən yeni şifrələr eyni deyil.");
            error.removeClass("success");
            error.addClass("error");
            return;
        }
        if (pass1.length < 8) {
            error.text("*Daxil edilən şifrə minimum 8 simvoldan ibarət olamlıdır.");
            error.removeClass("success");
            error.addClass("error");
            return;
        }
        $("#change-password").css("display", "none");
        setTimeout(() => { passpopupopen = false; }, 200);

        $.ajax({
            type: 'POST',
            url: "/Admin/UpdatePassword/",
            data: {
                password: oldpass,
                newpassword: pass1
            },
            dataType: 'json',
            success: function (result) {
                if (result === "Wrong password") {
                    alert("Daxil etdiyiniz şifrə yanlışdır");
                }
                else if (result === "Success") {
                    alert("Şifrəniz uğurla dəyişdirildi");
                }
            }
        });
    });


    $(document).click(function (event) {
        if (passpopupopen) {
            if (!passpopup.contains(event.target)) {
                $("#change-password").css("display", "none");
                setTimeout(() => { passpopupopen = false; }, 200);
            }
        }
        if (imgpopupopen) {
            if (!imgpopup.contains(event.target)) {
                $("#change-image").css("display", "none");
                setTimeout(() => { imgpopupopen = false; }, 200);
            }
        }
    });
</script>
