@using EntityLayer.Concrete
@model List<User>
@{
    ViewBag.Title = "SimilarProfiles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    aside ul #waitslist {
        border-radius: 8px;
        background-color: #006bce;
    }

        aside ul #waitslist p, aside ul #waitslist i {
            color: white;
        }

        aside ul #waitslist:hover {
            padding-left: 0;
        }

            aside ul #waitslist:hover p, aside ul #waitslist:hover i {
                color: white;
            }
</style>

<link href="~/Style/AdminPanel/APUserList1231.css" rel="stylesheet" />

<section id="list">

    @foreach (var item in Model)
    {
        string faculty = "";
        if (item.Faculty == "Digital Economy") { faculty = "Rəqəmsal İqtisadiyyat fakültəsi"; }
        else if (item.Faculty == "Russian Economy") { faculty = "Rus İqtisad Məktəbi"; }
        else if (item.Faculty == "Business") { faculty = "Biznes və Menecment"; }
        else if (item.Faculty == "Sabah") { faculty = "SABAH mərkəzi"; }
        else if (item.Faculty == "ISE") { faculty = "Beynəlxalq İqtisadiyyat Məktəbi"; }
        else if (item.Faculty == "Design") { faculty = "UNEC Dizayn Məktəbi"; }
        else if (item.Faculty == "Finance") { faculty = "Maliyyə və Mühasibat fəkültəsi"; }
        else if (item.Faculty == "TUDIFAK") { faculty = "Türk Dünyası İqtisad fəkültəsi"; }
        else if (item.Faculty == "Engineering") { faculty = "Mühəndislik fakültəsi"; }
        else if (item.Faculty == "Economy") { faculty = "İqtisadiyyat və İdarəetmə fakültəsi"; }
        else if (item.Faculty == "QETM") { faculty = "Qiyabi və Əlavə Təhsil Mərkəzi"; }

        <div class="user">
            <div class="main-datas">
                <p class="user-id">@item.UserID</p>
                <img src="@item.UserImage" alt="">
                <p class="user-name">@item.Name @item.Surname</p>
            </div>
            <input data-id="@item.UserID" class="userlogin daisy" value="@item.UserName" readonly/>
            <p class="user-faculty" style="text-align:center">@faculty</p>
            <p class="user-faculty" style="text-align:center">@item.Profession</p>
            <p class="user-faculty" style="text-align:center;width:70px;">@item.Group</p>
            <p class="user-faculty" style="text-align:center; width: 120px;">@item.BirthDate.ToString("dd-MM-yyyy")</p>
            <p class="user-faculty" style="text-align: center; width: 100px;">@item.PhoneNumber</p>
            @{
                string status = "";
                if (item.Department == "Waiting") { status = "Təsdiq gözləyir"; }
                if (item.Department == "Waiting Email") { status = "EMail təsdiq gözləyir"; }
                if (item.Department == "Member") { status = "İstifadəçi"; }
            }
            <p class="user-faculty" style="text-align:center;width: 120px;">@status</p>
            <div class="actions" data-userid="@item.UserID">
                <i class="fas fa-user-cog" onclick="enableInput(@item.UserID)"></i>
                <i class="fas fa-user-check" onclick="updateUser(@item.UserID)"></i>
                <a href="/Admin/DeleteUser/@item.UserID">
                    <i style="color: #ff331f; border: 1px solid #ff331f " class="fas fa-trash" @*onclick="deleteUser(@item.UserID)"*@></i>
                </a>
            </div>
        </div>
    }
</section>

<script>
    function enableInput(id) {
        $("input[data-id='" + id + "']").removeAttr("readonly");
    }
    function updateUser(id) {
        const val = $("input[data-id='" + id + "']").val();
        $.ajax({
            url: '/Admin/EditUserName',
            method: 'POST',
            data: {
                id: id,
                username: val
            },
            success: function () {
                alert("ugurlu!");
                window.href.location = "/Admin/WaitingUsers"
            }
        });
    }
    //function deleteUser(int id) {
    //    window.href.location = 
    //}
</script>