@model EntityLayer.Concrete.Vacancy
@{
    ViewBag.Title = "UpdateVacancy";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Style/AdminPanel/adminpanelevents.css" rel="stylesheet" />
@using (Html.BeginForm("UpdateVacancy", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.VacancyID)
    <section id="eventform">
        <div class="title-caption">
            @Html.TextBoxFor(x=>x.Title)
            @Html.TextAreaFor(x=>x.Description)
        </div>
        <div class="details">
            <div class="d-flex flex-column">
                <label for="eventdeadlinetime">Vakansiya üçün son qeydiyyat tarixi</label>
                @Html.TextBoxFor(x => x.Deadline, "{0:yyyy-MM-dd HH:mm}", new { type = "datetime-local", id = "eventdeadlinetime" })
            </div>
            <div class="d-flex flex-row">
                @Html.CheckBoxFor(x=>x.Primary, new {@id = "setprimary" })
                <label for="setprimary" class="m-lg-1">Vakansiyanı önə çək</label>
            </div>
            <select name="Department" id="">
                @{
                    string department = "";
                    if (Model.Department == "Secretary") { department = "Katib"; }
                    else if (Model.Department == "IT") { department = "İnformasiya Texnologiyaları departamenti"; }
                    else if (Model.Department == "SMM") { department = "Sosial Media Marketinq departamenti"; }
                    else if (Model.Department == "HR") { department = "İnsan Resursları departamenti"; }
                    else if (Model.Department == "PR") { department = "İctimaiyyətlə Əlaqələtr departamenti"; }
                    else if (Model.Department == "WWM") { department = "Üzvlərlə iş"; }
                    else if (Model.Department == "WWF") { department = "Fakültələrlə iş"; }
                    else if (Model.Department == "FS") { department = "Fakültə heyəti"; }
                    else if (Model.Department == "ICD") { department = "Beynəlxalq əməkdaşlıq departamenti"; }
                    else if (Model.Department == "Organizer") { department = "Təşkilati işlər departamenti"; }
                    else if (Model.Department == "Security") { department = "Nəzarət və təftiş"; }
                    else if (Model.Department == "FS-Digital Economy") { department = "Rəqəmsal İqtisadiyyat"; }
                    else if (Model.Department == "FS-Russian Economy") { department = "Rus İqtisad Məktəbi"; }
                    else if (Model.Department == "FS-Business") { department = "Biznes və Menecement"; }
                    else if (Model.Department == "FS-Sabah") { department = "SABAH"; }
                    else if (Model.Department == "FS-ISE") { department = "Beynəlxalq İqtisadiyyat Məktəbi"; }
                    else if (Model.Department == "FS-Design") { department = "UNEC Dizayn Məktəbi"; }
                    else if (Model.Department == "FS-Finance") { department = "Maliyyə və Mühasibat"; }
                    else if (Model.Department == "FS-TUDIFAK") { department = "Türk Dünyası İqtisad"; }
                    else if (Model.Department == "FS-Engineering") { department = "Mühəndislik"; }
                    else if (Model.Department == "FS-Economy") { department = "İqtisadiyyat və İdarəetmə"; }
                    else if (Model.Department == "FS-QETM") { department = "Qiyabi və Əlavə Təhsil Mərkəzi"; }
                }
                <option selected value="@Model.Department">@department</option>
                <optgroup label="Departamentlər">
                    <option value="Organizer">Təşkilati işlər departamenti</option>
                    <option value="HR">İnsan Resursları departamenti</option>
                    <option value="PR">İctimaiyyətlə əlaqələr departamenti</option>
                    <option value="IT">İnformasiya Texnologiyaları departamenti</option>
                    <option value="SMM">SMM departamenti</option>
                    <option value="WWM">Üzvlərlə iş departamenti</option>
                    <option value="WWF">Fakültələrlə iş departamenti</option>
                    <option value="ICD">Beynəlxalq Əməkdaşlıq departamenti</option>
                    <option value="Security">Nəzarət Təftiş Departamenti</option>
                </optgroup>
                <optgroup label="Fakültələr">
                    <option value="FS-Digital Economy">Rəqəmsal İqtisadiyyat</option>
                    <option value="FS-Russian Economy">Rus İqtisad Məktəbi</option>
                    <option value="FS-Business">Biznes və Menecement</option>
                    <option value="FS-Sabah">Sabah</option>
                    <option value="FS-ISE">Beynəlxalq İqtisadiyyat Məktəbi</option>
                    <option value="FS-Design">Dizayn</option>
                    <option value="FS-Finance">Maliyyə və Mühasibat</option>
                    <option value="FS-TUDIFAK">Türk Dünyası İqtisad fəkültəsi</option>
                    <option value="FS-Engineering">Mühəndislik</option>
                    <option value="FS-Economy">İqtisadiyyat və idarəetmə</option>
                    <option value="FS-QETM">QƏTM</option>
                </optgroup>
            </select>
        </div>
    </section>
    <div class="confirm">
        <button class="action-button success">Təsdiq et</button>
    </div>
}

<script>
    $(document).ready(function () {
        $("textarea").height(200);
        $("#eventform>div").height($("#eventform").height());
    });
</script>