<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rəqəmsal Kabinet - Admin</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
            crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="~/Images/new Logo - white.png" />
    <link href="~/Style/AdminPanel/AdminPage122.css" rel="stylesheet" />
    <link href="~/Style/UIStyle1569.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9025664961128837"
            crossorigin="anonymous"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
@using DataAccessLayer.Concrete;
@using DataAccessLayer.EntityFramework
@using EntityLayer.Concrete
@using BusinessLayer.Concrete
@using System.Web
@{ 
    UserManager UserM = new UserManager(new EfUserDAL());
    int userid = Session["UserID"].ToString().AsInt();
    var user = UserM.GetByID(userid);
}
<body>


    <header>
        <i id="menubtn" class="fas fa-bars"></i>
        <div class="header-center">
            <a href="/Admin/Dashboard">
                <img src="~/Images/new Logo - white.png" />
            </a>
        </div>
        <div class="header-right">
            @*<i class="fas fa-bell notficationbtn"></i>*@
            <img class="profilebtn" src="@user.UserImage" alt="">
        </div>
        <div class="profile-menu mini-menu">
            <ul>
                <li class="profile-details">
                    <img src="@user.UserImage" alt="">
                    <div class="name-role">
                        <p class="name">@user.Name @user.Surname</p>
                        @{
                            string modelRole = user.Role;
                            string role = "";
                            if (modelRole == "President") { role = "Təşkilat üzrə Sədr"; }
                            else if (modelRole == "Vice-President") { role = "Təşkilat üzrə Sədr müavini"; }
                            else if (modelRole == "Chairman") { role = "Fakültə üzrə Sədr"; }
                            else if (modelRole == "Vice-Chairman") { role = "Sədr müavini"; }
                            else if (modelRole == "Staff") { role = "Heyət üzvü"; }
                            else if (modelRole == "Leader") { role = "Departament üzrə Rəhbər"; }
                            else if (modelRole == "Vice-Chairman") { role = "Fakültə üzrə Sədr müavini"; }
                            else if (modelRole == "Vice-Leader") { role = "Departament üzrə Rəhbər müavini"; }
                            else if (modelRole == "HR") { role = "İnsan Resursları"; }
                            else if (modelRole == "PR") { role = "İctimaiyyətlə əlaqələr"; }
                            else if (modelRole == "IT") { role = "İnformasiya Texnologiyaları"; }
                            else if (modelRole == "SMM") { role = "SMM"; }
                            else if (modelRole == "PM") { role = "Layihə Meneceri"; }
                            else if (modelRole == "CW") { role = "Copywriter"; }
                            else if (modelRole == "WWM") { role = "Üzvlərlə iş"; }
                            else if (modelRole == "Photograph") { role = "Fotoqraf"; }
                            else if (modelRole == "Photograph/Videograph") { role = "Fotoqraf/Videoqraf"; }
                            else if (modelRole == "Coordinator") { role = "Koordinator"; }
                            else if (modelRole == "Security") { role = "Nəzarət və Təftiş"; }
                            else if (modelRole == "GDesigner") { role = "Qrafik dizayner"; }
                            else if (modelRole == "Secretary") { role = "Katib"; }
                            else if (modelRole == "Advisor") { role = "Müşavir"; }
                            else if (Model.Department == "Vice-Rector") { role = modelRole + " üzrə Prorektor"; }
                        }
                        <p class="department">@role</p>
                    </div>
                </li>
                <hr class="menu-line">
                </hr>
                <li>
                    <a href="@Url.Action("UserProfile","Admin")">
                        <i class="fas fa-user"></i>
                        <p>Profilim</p>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Settings">
                        <i class="fas fa-cog"></i>
                        <p>Parametrlər</p>
                    </a>
                </li>
                <li>
                    <a href="/Admin/UserQRCode">
                        <i class="fas fa-qrcode"></i>
                        <p>QR Kodum</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/Index">
                        <i class="fas fa-globe"></i>
                        <p>Sayta keçid</p>
                    </a>
                </li>

                <hr class="menu-line">
                </hr>
                <li>
                    <a href="/Login/LogOut">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Çıxış</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="notfication-menu mini-menu">
            <p class="empty">Bildiriş yoxdur</p>
        </div>
    </header>


    <aside>
        <ul>
            @{
                if (user.Role == "Leader" || user.Role == "Chairman" || user.Role == "President" || user.Role == "Vice-President")
                {
                        <li id="dashboard">
                            <a href="/Admin/Dashboard">
                                <i class="fas fa-home"></i>
                                <p>Əsas səhifə</p>
                            </a>
                        </li>
                }
            }
            <li id="userlist">
                <a href="/Admin/SelectedUsers">
                    <i class="fas fa-user"></i>
                    <p>İstifadəçilər</p>
                </a>
            </li>
            <li id="stafflist">
                <a href="/Admin/Staffs">
                    <i class="fas fa-users"></i>
                    <p>Heyət üzvləri</p>
                </a>
            </li>
            <li id="eventlist">
                <a href="/Admin/Events">
                    <i class="fas fa-calendar-day"></i>
                    <p>Tədbirlər</p>
                </a>
            </li>
            <li id="newslist">
                <a href="/Admin/News">
                    <i class="fas fa-newspaper"></i>
                    <p>Xəbərlər</p>
                </a>
            </li>
            @{
                if (user.Role == "Leader" || user.Role == "Chairman" || user.Role == "President" || user.Role == "Vice-President")
                {
                    <li id="dailylogins">
                        <a href="/Admin/DailyLogins?membertype=all">
                            <i class="fas fa-chart-bar"></i>
                            <p>Girişlər</p>
                        </a>
                    </li>
                }
            }

            <li id="activitypoints">
                <a href="/Admin/ActivityPoints">
                    <i class="fas fa-chart-line"></i>
                    <p>Aktivlik</p>
                </a>
            </li>
            @*<li>
            <i class="fas fa-comments"></i>
            <p>Müzakirə</p>
        </li>*@
        </ul>
    </aside>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <main>
        @RenderBody()
    </main>


    <script>

        var height = $(document).height();
        $(".pop-up").height(height + 80);

        $(document).ready(function () {
            var width = $(document).width();
            width -= $("aside").width();
            width -= $("#profile").width();
            width -= 101;
            $("#content").width(width);

            if ($("aside").hasClass("small-menu") == false) {
                var mainWidth = $("main").width();
                mainWidth -= 250;
                if (screen.width > 600) {
                    $("main").width(mainWidth);
                    $("main").css("margin-left", "250px");
                }
            }

            var userlistheight = $("#user-list").outerHeight();
            $("#counts").innerHeight(userlistheight);

        });

        $("#menubtn").click(function () {
            $("aside").toggleClass("small-menu");
            if (screen.width > 600) {
                if ($("aside").hasClass("small-menu")) {
                    var width = $("main").width();
                    width += 170;
                    $("main").width(width);
                    $("main").css("margin-left", "80px");
                    $("aside ul").width("50px");
                }
                else {
                    $("main").css("margin-left", "250px");
                    var width = $("main").width();
                    width -= 170;
                    $("main").width(width);
                    $("aside ul").width("220px");
                }
            }
            else {
                if ($("aside").hasClass("small-menu")) {
                    $("aside").height($(document).height());
                }
                else {
                    $("aside").height(0);
                }
            }
        });

        $(".profilebtn").click(function () {
            $(".notfication-menu").hide();
            $(".profile-menu").toggle();
        });

        $(".notficationbtn").click(function () {
            $(".profile-menu").hide();
            $(".notfication-menu").toggle();
        });


    </script>

</body>

</html>