@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";

}

<style>


    aside ul #dashboard {
        border-radius: 8px;
        background-color: #006bce;
    }

        aside ul #dashboard p, aside ul #dashboard i {
            color: white;
        }

        aside ul #dashboard:hover {
            padding-left: 0;
        }

            aside ul #dashboard:hover p, aside ul #dashboard:hover i {
                color: white;
            }

    p.activitypoint {
        color: #cf352e !important;
        font-weight: 500;
        font-size: 24px;
        margin: 8px 0;
    }

    p.name, p.profession {
        margin: 0;
    }
</style>

<section id="digi-greeting">
    <img src="~/Images/Digi_greeting.png" alt="">
    <div class="welcome">
        <p class="hello">Salam <span id="loginname">İstifadəçi</span>. Xoş gəlmisən!</p>
        <p class="digi">Mən Digi. Yaxın zamanda sənə daha yaxın olacağam!</p>
    </div>
</section>
<section id="profile">
    <img src="@Model.UserImage" />
    <p class="name">@Model.Name @Model.Surname</p>
    <p class="profession">@Model.Profession</p>
    <p class="activitypoint"><i class="fas fa-fire"></i> @Model.ActivityPoint</p>
    <div class="actions">
        <a href="/Member/Settings" class="action">
            <i class="fas fa-cog"></i>
            <p>Parametrlər</p>
        </a>
        <span class="border"></span>
        <a href="/Member/QRCode" class="action">
            <i class="fas fa-qrcode"></i>
            <p>QR Kod</p>
        </a>
    </div>
</section>

@Html.Action("AnnouncesPW", "Member")

@Html.Action("NotficiationsPW", "Member")

@if (ViewBag.Review == "true")
{
    <div id="reviewpopup" class="pop-up">
        @Html.Action("EventReview", "Member", new { @id = ViewBag.Reviewid })
    </div>
}
