@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int entranceyear = Model.EntranceYear;
    int thisyear = DateTime.Now.Year;
    int course = thisyear - entranceyear;
    string coursth;
    if (DateTime.Now.Month > 8)
    {
        course += 1;
    }
    string[] romanNumerals = { "", "I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX", "X" };
    coursth = romanNumerals[course];
}

<link href="~/Style/Profile1.css" rel="stylesheet" />
<section id="profile">
    <img id="profileimg" src="@Model.UserImage" alt="">
    <p id="name">@Model.Name @Model.Surname</p>
    <p id="username">@Model.UserName</p>
    @{
        string faculty = "";
        if (Model.Faculty == "Digital Economy") { faculty = "Rəqəmsal İqtisadiyyat fakültəsi"; }
        else if (Model.Faculty == "Russian Economy") { faculty = "Rus İqtisad Məktəbi"; }
        else if (Model.Faculty == "Business") { faculty = "Biznes və Menecement"; }
        else if (Model.Faculty == "Sabah") { faculty = "SABAH mərkəzi"; }
        else if (Model.Faculty == "ISE") { faculty = "Beynəlxalq İqtisadiyyat Məktəbi"; }
        else if (Model.Faculty == "Design") { faculty = "UNEC Dizayn Məktəbi"; }
        else if (Model.Faculty == "Finance") { faculty = "Maliyyə və Mühasibat fəkültəsi"; }
        else if (Model.Faculty == "TUDIFAK") { faculty = "Türk Dünyası İqtisad fəkültəsi"; }
        else if (Model.Faculty == "Engineering") { faculty = "Mühəndislik fakültəsi"; }
        else if (Model.Faculty == "Economy") { faculty = "İqtisadiyyat və İdarəetmə fakültəsi"; }
    }
    <p>Fakültə: <span id="faculty">@faculty</span></p>
    <p>İxtisas: <span id="department">@Model.Profession</span></p>
    <p>Kurs: <span id="course">@coursth</span></p>
    <p>Aktivlik balı: <span id="point">@Model.ActivityPoint</span></p>
    <p>Qəbul ili: <span id="enteranceyear">@Model.EntranceYear</span></p>
    <p>Telefon: <span id="phone">+994 @Model.PhoneNumber</span></p>
    <p>E-mail: <span id="mail">@Model.EMail</span></p>
    <p>Qeydiyyat tarixi: <span id="signdate">@Model.SignDate.ToString("dd MMM yyyy")</span></p>
    <p>Doğum tarixi: <span id="birthdate">@Model.BirthDate.ToString("dd MMM yyyy")</span></p>
    <button class="action-button primary"><i class="fas fa-envelope"></i> &nbsp;&nbsp;Xəta bildir</button>
</section>

<div id="about">
    @*<div class="header">
        <div data-tab="activity" class="tabbtn activetab">Aktivlik</div>
        @if (Model.FacultyStaff == true)
        {
            <div data-tab="facultystaff" class="tabbtn">Fakültə heyəti</div>
        }
        @if (Model.DepartmentStaff == true)
        {
            <div data-tab="departmentstaff" class="tabbtn">Departament heyəti</div>
        }
    </div>*@


    @Html.Action("ActivityPoints", "Member", new { id = Model.UserID })

    @if (Model.FacultyStaff == true)
    {
        @Html.Action("FacultyStaff", "Admin", new { @faculty = Model.Faculty })

    }


    @if (Model.DepartmentStaff == true)
    {
        @Html.Action("DepartmentStaff", "Admin", new { @department = Model.Department })
    }

</div>

<script>
    $(".tabbtn").click(function () {
        $(this).parent().siblings("section").hide();
        $(".tabbtn").removeClass("activetab");
        $(this).addClass("activetab");
        var tab = $(this).attr("data-tab");
        var screenheight = $("body").height();
        $("aside").height(screenheight - 80);
        console.log(screenheight);
        if (tab == "activity") {
            $("section#activity").show();
        }
        else if (tab == "facultystaff") {
            $("section#facultystaff").show();
        }
        else if (tab == "departmentstaff") {
            $("section#departmentstaff").show();
        }

    });
</script>

