@using BusinessLayer.Concrete
@using DataAccessLayer.EntityFramework
@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int entranceyear = Model.EntranceYear;
    int thisyear = DateTime.Now.Year;
    int course = thisyear - entranceyear;
    string coursth;
    string congratulations = ViewBag.congratulations;
    if (DateTime.Now.Month > 8)
    {
        course += 1;
    }
    string[] romanNumerals = { "", "I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX", "X" };
    coursth = romanNumerals[course];
    DailyLoginManager LoginM = new DailyLoginManager(new EfDailyLoginDAL());
    var userLogins = LoginM.GetList().Where(x => x.UserID == Model.UserID).ToList();
}

<link href="~/Style/Profile1.css" rel="stylesheet" />
<style>
    p#activitypoint {
        color: #cf352e !important;
        font-weight: 500;
        font-size: 24px;
        margin: 8px 0;
    }
    #activitypoint {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    #activitypoint  i#info {
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 100%;
        color: #555;
        border: 1px solid #555;
        border-radius: 50%;
        margin-left: 4px;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
    }
    #activitypoint .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        font-size: 14px;
        padding: 5px;
        position: absolute;
        z-index: 5;
        top: 125%;
        left: 50%;
        margin-left: -125px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    #activitypoint:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>
<section id="profile">
    <img id="profileimg" src="@Model.UserImage" alt="">
    <p id="name">@Model.Name @Model.Surname</p>
    <p id="activitypoint">
        <i class="fas fa-fire"></i> @Model.ActivityPoint
        <span class="tooltiptext">
            Aktivlik balı göstəricisi:<br> Aktivlik balı sizin tədbirlərdə olan iştirakınıza
            və aktivliyinizə əsasən hesablanır
        </span>
        <i id="info" class="fas fa-info"></i>
    </p>

    <p id="username">@Model.UserName</p>
    @{
        string faculty = "";
        if (Model.Faculty == "Digital Economy") { faculty = "Rəqəmsal İqtisadiyyat fakültəsi"; }
        else if (Model.Faculty == "Russian Economy") { faculty = "Rus İqtisad Məktəbi"; }
        else if (Model.Faculty == "Business") { faculty = "Biznes və Menecement"; }
        else if (Model.Faculty == "Sabah") { faculty = "SABAH mərkəzi"; }
        else if (Model.Faculty == "ISE") { faculty = "Beynəlxalq İqtisadiyyat Məktəbi"; }
        else if (Model.Faculty == "Design") { faculty = "UNEC Dizayn Məktəbi"; }
        else if (Model.Faculty == "Finance") { faculty = "Maliyyə və Mühasibat fəkültəsi"; }
        else if (Model.Faculty == "TUDIFAK") { faculty = "Türk Dünyası İqtisad fəkültəsi"; }
        else if (Model.Faculty == "Engineering") { faculty = "Mühəndislik fakültəsi"; }
        else if (Model.Faculty == "Economy") { faculty = "İqtisadiyyat və İdarəetmə fakültəsi"; }
    }
    <p>Fakültə: <span id="faculty">@faculty</span></p>
    <p>İxtisas: <span id="department">@Model.Profession</span></p>
    <p>Kurs: <span id="course">@coursth</span></p>
    <p>Aktivlik balı: <span id="point"> @Model.ActivityPoint</span></p>
    <p>Qəbul ili: <span id="enteranceyear">@Model.EntranceYear</span></p>
    <p>Telefon: <span id="phone">+994 @Model.PhoneNumber</span></p>
    <p>E-mail: <span id="mail">@Model.EMail</span></p>
    @*<p>Qeydiyyat tarixi: <span id="signdate">@Model.SignDate.ToString("dd MMM yyyy")</span></p>*@
    <p>Doğum tarixi: <span id="birthdate">@Model.BirthDate.ToString("dd MMM yyyy")</span></p>
    @*<button class="action-button primary"><i class="fas fa-envelope"></i> &nbsp;&nbsp;Xəta bildir</button>*@
</section>

<div id="about">
    @*<div class="header">
        <div data-tab="activity" class="tabbtn activetab">Aktivlik</div>
        <div data-tab="facultystaff" class="tabbtn">Fakültə heyəti</div>
        <div data-tab="departmentstaff" class="tabbtn">Departament heyəti</div>
    </div>*@


    <div id="activities">

        @Html.Action("ActivityPoints", "Member", new { id = Model.UserID })

        <div class="w100 d-flex justify-content-center">
            <div id="calendar_basic" class="mt-4" style="width: 900px; height: 180px;"></div>
        </div>

        <div class="mt-4">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>



</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            const ctx = document.getElementById('myPieChart');
            ctx.parentElement.style.height = "400px";
            new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Rəy yazdıqlarım', 'Rəy yazmadıqlarım', 'İştirak etmədiklərim'],
                    datasets: [{
                        label: 'Ümumi say',
                        data: [@ViewBag.comments, @ViewBag.noncomments, @ViewBag.nonparticipate],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Tədbirlərdə iştirak'
                        }
                    }
                },
            });
        }, 100); 
        
    });
    
</script>

<script>
    $(".tabbtn").click(function () {
        $(this).parent().siblings("section").hide();
        $(this).parent().siblings("div#activities").hide();
        $(".tabbtn").removeClass("activetab");
        $(this).addClass("activetab");
        var tab = $(this).attr("data-tab");
        var screenheight = $("body").height();
        $("aside").height(screenheight - 80);
        if (tab == "activity") {
            $("div#activities").show();
        }
        else if (tab == "facultystaff") {
            $("section#facultystaff").show();
        }
        else if (tab == "departmentstaff") {
            $("section#departmentstaff").show();
        }
    });
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["calendar"] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
        dataTable.addRows([
            @foreach (var item in userLogins)
            {
                int year = item.LoginDateTime.Year;
                int month = item.LoginDateTime.Month - 1;
                int day = item.LoginDateTime.Day;

                @:[new Date(2024, @month, @day), 1],
            }
        ]);

        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

        var options = {
            title: "365 günlük giriş",
            height: 180,
            calendar: {
                monthLabel: {
                    color: '#131850',
                    bold : true,
                },
                underYearSpace: 10,
                yearLabel: {
                    fontSize: 1
                }
            },
            colorAxis: { minValue: 0, colors: ['#FFFFFF', '#006BCE'] }
        };

        chart.draw(dataTable, options);
    }
</script>