@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Style/Home/UPHome.css" rel="stylesheet" />

<link href="~/Style/Home/Staff.css" rel="stylesheet" />
<main>
    <section id="home">
        <article>
            <div class="article-left">
                <img src="~/Images/Digi_greeting.png" alt="" />
            </div>
            <div class="article-right">
                <p class="slogan">Rəqəmsal gələcək! Rəqəmsal UNEC!</p>
                <div class="links">
                    <a target="_blank"
                       href="https://docs.google.com/forms/d/e/1FAIpQLScZG9vc-9JbdJFo2SP6Xwz7pC0Epmu7Pb6KjKI38rIox8M2hw/viewform">
                        Könüllü ol
                    </a>
                    <a href="https://www.instagram.com/unecdigitalvolunteers/">
                        İnstagram səhifəmiz <i class="fas fa-external-link-alt"></i>
                    </a>
                </div>


                <div class="statistics">
                    <div class="stat">
                        <i class="fas fa-users"></i>
                        <p class="value" data-value="@ViewBag.UserCount"></p>
                        <p class="data">İstifadəçi</p>
                    </div>
                    <div class="stat">
                        <i class="fas fa-calendar-day"></i>
                        <p class="value" data-value="@ViewBag.EventCount"></p>
                        <p class="data">Tədbir</p>
                    </div>
                    <div class="stat">
                        <i class="fas fa-user-tie"></i>
                        <p class="value" data-value="@ViewBag.StaffCount"></p>
                        <p class="data">İdarə üzvü</p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    @Html.Action("Events", "Home")

    <section id="news">
        @Html.Action("News", "Home")
    </section>

    <section id="staff">
        @Html.Action("Presidents", "Staff")
    </section>

    @Html.Action("BestEvent", "Events")

</main>

<script>
    $(document).ready(function () {
        var height = $(window).height();
        var header = $("body>header");
        headerh = header.outerHeight();

        if ($("section#home").height() < height) {
            $("section#home").height(height - headerh);
            if (screen.width < 600) {
                $("section#home").css("margin-top", headerh + "px");
            }
        }

        console.log(height, height - headerh);

        /*if ($(window).width() > 600) {
                var eventh = $(".event").height();
                $(".event").height(eventh + 60);
            }*/
        if (window.innerWidth < 600) {
            var imgw = $("section#lastevent>.image").width();
            $("section#lastevent>.image").height(imgw / 16 * 9);
        }

        $(function () {
            $(".stat .value").each(function () {
                $(this).prop('counter', 0).animate({
                    counter: $(this).attr("data-value")
                },
                    {
                        duration: 2000,
                        step: function (counter) {
                            $(this).text(Math.ceil(counter));
                        }
                    })
            });
        });

    });
</script>