@model EntityLayer.Concrete.News
@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/Style/Home/News123.css" rel="stylesheet" />
<section id="newsdetails">
    <article>
        <img src="@Model.NewsImage" alt="">
        <p class="header">@Model.NewsTitle</p>
        <p class="text">
            @Html.Raw(Model.NewsCaption)
        </p>
        <div class="blog-footer">
            <p>
                @Model.NewsCreated.ToString("dd MMMM yyyy HH:mm")
            </p>
            <p>
                @Model.Reading baxış &nbsp;<i class="fas fa-eye"></i>
            </p>
        </div>
        @*<div class="blog-tags">
            <div class="tag">
                <p>#inkişaf</p>
            </div>
            <div class="tag">
                <p>#texnologiya</p>
            </div>
        </div>*@
    </article>
    
    @Html.Action("Suggestions", "News")

</section>